/*=======  boday  ========*/
body{

margin:0;
padding:0;
background-image:url('../images/back.jpg');

}
#wrapper{

	width:960px;
	background-color:#4473A8;
	margin:0 auto;
	overflow:hidden;
	margin-top:20px;

}
.right{

	float:right;
}
.left{

	float:left;
}
.clear{

	clear:both;
}
/*=======  Header ========*/
header{

	width:100%;
	background-color:#176913;
	overflow:hidden;
	box-shadow:2px 2px 2px black;

}
h1{

	color:white;
	float:left;
	margin-bottom:0px;
	margin-top: 15px;
	margin-left: 20px;
	overflow:hidden;
	padding:2px;
	letter-spacing:0.5px;
	font-style:italic;
	font-family:"Hevetica";
	opacity:0.5;
}
h2{

	color:white;
	margin-left:300px;
}
#log li{

	list-style:none;
	margin-left:10px;
	float:right;
	overflow:hidden;

}
button{

	margin-left:400px;
	background-color:green;

}
/*=======  Cover Page ========*/
#topSection{

	width:100%;
	height:300px;
	background-image:url('../images/pain.png');
	background-repeat:no-repeat;
	background-color:black;

}
#intro{

	font-style:italic;
	font-size:20px;
	width:400px;
	margin:0 auto;
	clear:both;
	color:white;
	padding-top:10px;
	
}
.user{

	float:left;
}
.tooltip{

	display:none;
	position:absolute;
	border: 1px solid #333;
	background-color:blue;
	border-radius:5px;
	padding:7px;
	color:white;
	font-size:12px; 
}
#cta{

	background-color:navy;
	margin-left:600px;
	padding-bottom:20px;
	border: 2px solid #176913;
	border-radius:20px;
	padding:5px;
	width:50px;
	font-size:14px;

}
#cta a{

	color:white;

}
#middleSection{

	margin:0 auto;
	width:800px;
}
#LogIn{

	width:400px;
	float:right;
	margin-top:15px;

}
/*=======  Gallery ========*/

h3{

	margin-left:300px;
	font-size:30px;
}
img{

	opacity:0.4;
}
img:hover{

	opacity:1.0;
}
#rowOne{

	float:left;
	list-style:none;
	overflow:hidden;

}
#rowTwo{

	float:left;
	list-style:none;
	overflow:hidden;
}
#rowThree{

	float:left;
	list-style:none;
	overflow:hidden;
}
/*=======  Admin Page ========*/
.userid{

	margin-left:330px;
	font-size:36px;
	color:white;
	font-style:italic;
}
#signout{

	float:right;
	margin-right: 20px;

}
#navSection{

	width:100%;
	background-color:black;
	overflow:hidden;
}
.nav{

	margin-left:30%;
	margin-top:0;
	margin-bottom:0;
}
.nav li{

	list-style:none;
	float:left;
	margin-left:10px;
}
.nav li a{

	color:white;

}
.Mclick{

	list-style:none;
}
.Mclick a{

	color:white;
}
#back{

	width:100%;
	height:100%;
	position:relative;
	background:rgba(0,0,0,.5);
	display:none;
	top:0;
	left:0;
	z-index:1000;
}
#modal{

	width:500px;
	height:300px;
	overflow: hidden;
	background-color:white;
	position:relative;
	display:none;
	top:50%;
	left:50%;
	margin-left:-300px;
	z-index:1001;
	border-radius:10px;
}
#hModal{

	color:#FFB70C;
	margin-left:130px;
	font-style:italic;
	float:left;
	margin-top:0;
	margin-bottom:0;
	letter-spacing:5px;

}
#Mheader{

	background-color:black;
	width:100%;
	overflow:hidden;
	box-shadow:2px 2px 2px blue;
}
.lModal{

	float:left;
	clear:both;
	margin-right:20px;
	margin-top: 10px;

}
.iModal{

	float:left;
	margin-right:5px;
	margin-top:10px;
}
#mood{

	width:600px;
	margin-left:10px;
	float:left;
	clear:both;
	
}
#projects{


	margin-left:100px;
}
.close{

	color:white;
	overflow:hidden;
	float:right;
	margin-right:5px;
	margin-top:5px;
	background-color:blue;
}
/*=======  According Stack  Page ========*/
#one{

	clear:both;
}
#two{

	clear:both;

}
#three{

	clear:both;

}
.info{

	width:400px;
	background-color:rgba(0,0,0,0.5);
	margin-left:260px;
}
.status li{

	list-style:none;
	float:left;
	margin-left:10px;
}
#mood{

	clear:both;
}
/*=======  Form Page ========*/
#loginForm{

	width:380px;
	margin-left: 20px;
	padding:10px;

}
label{

	font-style:italic;
	font-family:"Hevetica";
}
#formHeader{

	width:100%;
	color:black;
}